[project]
name = "complaint-service-portal-api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.121.1",
    "psycopg2>=2.9.11",
    "pydantic>=2.12.4",
    "sqlalchemy>=2.0.44",
]
